@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); /*got from google fonts*/
*{
  color:#fff;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin:0; /*getting rid of any weird borders before anything*/
  padding:0;
}

.app{
  background-color:#343541;
  display:flex; /*this is to have the input, cloneGpt, and description all those go side to side with side bar so its under .app cz .main and .sidebar is its child*/
}

.side-bar{
  background-color: #202123;
  height:100vh;
  width:244px;
  display:flex;
  flex-direction: column; /*this is to make made by ryan and +new chat horizontally align*/
  justify-content: space-between; /*this is to make it go one up one down and the history can be in btwn*/
}

button{
  border:solid 0.5px rgba(255,255,255,0.5);/*255 for all to make it white and 0.5 opacity*/
  background-color: transparent;
  border-radius: 5px; /*to make border edge round*/
  padding: 10px;
  margin:10px;
}

nav{ /*for made by ryan*/
  border-top:solid 0.5px rgba(255,255,255,0.5);
  padding: 10px;
  margin:10px;
}

.history{
  padding: 10px;
  margin:10px;
  height:100%;
}

.history li{
  list-style-type:none; /*to remove dot on the left side like the dot on a list*/
  padding:15px 0;
  cursor:pointer;
}

.main{
  height:100vh;
  width:100%;
  display:flex; /*to make everything flexible now clone gpt and input/description is all side by side*/
  flex-direction: column;
  justify-content: space-between; /*this is to make it have space in btwn*/
  align-items: center; /*cant use any 3 above unless display is flex; this is for the clone gpt*/
  text-align: center; /*this is for input and <p>*/
}

.info{
  color:rgba(255,255,255,0.5);
  font-size:11px;
  padding:10px;
}

.bottom-section{ /*we need to do this cz this is the parent of input container as well as input button thing; we need to stretch input container*/
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  position:relative; /*this is important cz of the child of this which is the input icon thing we gonna do position abosolute based on parent*/
  width:100%; /*this is so we can stretch input itself out*/
  max-width:650px;
}

input{
  width:100%;
  border:none;
  font-size:20px;
  background-color: rgba(255,255,255,0.05);
  padding:12px 15px;
  border-radius: 5px;
  box-shadow:rgba(0,0,0,0.05) 0 54px 55px,/*0 x-axis,54px y-axis, 55px blur*/
  rgba(0,0,0,0.05) 0 -12px 30px,
  rgba(0,0,0,0.05) 0 4px 6px,
  rgba(0,0,0,0.05) 0 12px 3px,
  rgba(0,0,0,0.05) 0 -3px 5px; /*shadow effect on all sides of box*/
}

input:focus{
  outline:none;/*just to get rid of white outline on the input box*/
}

#submit{
  position:absolute;
  bottom:15px; /*these measurements are going relative to submit-container*/
  right:0;
  cursor:pointer;
}

.feed{
  overflow: auto;
  width: 95%;
  padding: 0;
}

.feed li{
  display: flex;
  background-color: #444654;
  width: 95%;
  padding: 20px;
  margin: 20px 0;
}

.feed p{
  color:rgba(255,255,255,0.8);
  font-size:14px;
  text-align: left;
}

.feed p.role{
  min-width: 100px;
}